body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    /* Add this */
    overflow: hidden;
    /* Add this */
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.income {
    color: green;
}

.expense {
    color: red;
}

.amount {
    text-align: right;
}

.id {
    width: 1em;
}

.date {
    width: 3em;
}

.item {
    width: 5em;
}

.category {
    width: 4em;
}

.amount {
    width: 4em;
}

.description {
    width: 20em;
}

.link {
    margin: auto;
    /* text-align: center; */
    width: 80%;
}

a {
    display: inline-block;
    margin: 20px auto;
    /* Change this */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    /* Add this */
}