/* .main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
} */

h1 {
    text-align: center;
    color: #333;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 60%;
    /* Add this */
    margin: 0 auto;
    /* Add this */
}

form {
    flex: 1;
    /* Add this */
    margin: 5px;
    /* Add this */
}

input[type="submit"],
button {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    margin: auto;
    display: block;
    width: 100%;
    /* Add this */
}

button.button {
    margin: 5px;
}